.user-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  color: #001f3f;
  font-size: 1.5em;
  margin: 0;
}
.profile-email {
  font-size: 1.3em;
  margin: 0;
}
.profile-email a {
  color: #0074d9;
}
